{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "globals": {
    "window": true,
    "expect": true,
    "sinon": true,
    "jestExpect": true,
  },
  "rules": {
    "new-cap": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.js", "**/*.spec.js"] }]
  }
}
