{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.js", "**/*.spec.js", "**/setup.js"] }]
  },
  "settings": {
    "import/resolver": {
      "jest": {
        "jestConfigFile": "./test/unit/jest.conf.js"
      }
    }
  }
}
